<h2>Lista de Categorys</h2>
<hr>
<a href="/admin/categorys/add"><button class="btn btn-success">Nova Category</button></a>

{{#each categorys}}
   <div class="card mt-4">
      <div class="card-body">
         <h4>{{name}}</h4>
         <small>Slug: {{slug}}</small><br>
         <a href="/admin/categorys/edit/{{_id}}">
            <button class="btn btn-success mt-2">Category Edit</button>
         </a>
         <form action="/admin/categorys/delete" method="POST">
            <input type="hidden" name="id" value="{{_id}}">
            <button type="submit" class="btn btn-danger mt-2">Category delete</button>
         </form>
      </div>
   </div>
{{else}}
   <h4 class="mt-3">no registered categories</h4>
{{/each}}